@charset "UTF-8";

#helpElement {
  display: grid;
  grid-template-areas: 
  'title title title'
  'questions questions form';
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 75vh;
}

#helpTitle {
  grid-area: title; 
  display:table;
  background-color: #fff;
  height: 300px;
}

#text {
  display: table-cell;
  text-align:center;
  vertical-align: middle;
  font-size: 2rem;
}

#helpQuestions {
  grid-area: questions;
  background-color: #fff;
  min-height: 400px;
}

#helpForm {
  grid-area: form;
  background-color: red;
  height: 400px;
}