@charset "UTF-8";

#listing {
  display: grid;
  height: 120px;
  width: 100%;
  margin-bottom: 1rem;
  grid-template-columns: 5% 20% 60% 10% 5%;
  grid-template-areas: 
  ". image title price .";
  background-color: #ebe6e6;
  cursor: pointer;
}

#listing:hover {
  background-color: #cfcaca;  
}

#listingImage {
  grid-area: image;
  margin: 0;
}

#listingImage img {
  width: 90%;
  margin-top: 5px;
}

#listingTitle {
  grid-area: title;
}

#listingTitle h2 {
  text-align: center;
  line-height: 120px;
  margin: 0;
}

#listingPrice {
  position: relative;
  grid-area: price;
}

#listingPrice p {
  position: absolute;
  bottom: 1.5rem;
  right: 0;
  margin: 0;
  color: black;
  font-weight: bold;
  font-size: 1.25rem;
}