@charset "UTF-8";

#navbar {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 75px;
  background-color: #ebe6e6;
}

.navbarElements {
  width: 50px;
  height:75px;
}

#navLogo {
  justify-content: center;
  min-width: 20vw;
}

#globNav {
  width: 600px;
  justify-content: center;
}

#globNav ul {
  display: block;
  float: left;
  width: 600px;
  height: 100%;
  margin-top: 0;
  margin: 0;
}

#globNav li {
  display: block;
  float: left;
  height: 100%;
  width: 6rem;
  list-style: none;
  margin-left: 1rem;
  line-height: 75px;
  text-align: center;
  background-color: #ebe6e6;
}

#globNav li p {
    width: 100%;
  height: 100%;
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}
.link {
  color: black;
  text-decoration: none;
}

#globNav li p:hover {
  background-color: #cccccc;
  cursor: pointer;
}

#login{
margin-left: auto;
min-width: 450px;
}

#login button {
  height: 50px;
  width: 150px;
  margin-left: 2rem;
  margin-top: 0.75rem;
  border-radius: 0.5rem;
}

#login button:hover {
  cursor: pointer;
}

#navMargin {
  display: block;
  width: 100vw;
  height: 75px;
}

@media screen and (max-width: 1220px) {
  #login button {
    margin-left: 0;
    width: 150px;
  }
    #login button:last-child {
    margin-left: 5px;
  }
}

@media screen and (max-width: 1140px) {
  #login button {
    display: block;
    height: 30px;
    margin-top: 5px;
  }
  #login button:last-child {
    margin-left: 0px;
  }
}

@media screen and (max-width: 880px) {
  #login button {
    width: 75px;
  }
}

/* Lägg till fler media queries! */