@charset "UTF-8";

#registerBox {
  position: fixed;
  display: block;
  width: 500px;
  height: 400px;
  top: 15%;
  left: 35%;
  z-index: 9999;
  background-color: #424242;
  color: white;
  text-align: center;
}